{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_view'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_view'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% if comment is defined and comment|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            <dt>{{ 'label.text'|trans }}</dt>
            <dd>{{  comment.text }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}