{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.ingredient_edit'|trans({'%id%': ingredient.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="section_title">
        <h1>{{ 'title.ingredient_edit'|trans }}</h1>
    </div>
    {{ form_start(form, { method: 'PUT', action: url('ingredient_edit', {id: ingredient.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="button" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('ingredient_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}