{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    {% include 'default/_flash_messages.html.twig' %}
    <div class="containter-fluid">
        <img src="{{ asset('img/breakfast1.jpg') }}" alt="main_photo" height="auto" width="100%">
    </div>
    <div class="searching">
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control" type="search" placeholder="{{ 'ingredients.search'|trans }}" aria-label="Search">#}
        {#</form>#}

        <form method="post" class="search" action="{{ url('search_index') }}">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" id="search" name="search" autocomplete="off" placeholder="{{ 'ingredients.search'|trans }}">
                    <button type="submit" title="{{ 'action.search'|trans }}"></button>
                </div>
            </div>
        </form>

    </div>
    <div class="containter last_recipe">
        <p class="headline">{{ 'last_recipe_headline'|trans }}</p>
        <div class="row">
            {% for item in newestRecipe %}
                <div class="col-md-3">
                    <a href="{{ url('recipe_view', {'id': item.id}) }}" title="{{ 'label.view'|trans }}">
                        <div class="photo_border">
                            <img src="{{ asset('uploads/photos/'~item.photo) }}" alt="recipe_photo">
                            <div class="icons">
                                <i class="fas fa-clock"></i>
                                <div class="icon">{{ item.time }}</div>
                                <i class="fas fa-user"></i>
                                <div class="icon">{{ item.peopleAmount }}</div>
                            </div>
                        </div>
                        <p class="caption">{{ item.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>{{ 'footer.text'|trans }}</p>
    </footer>
{% endblock %}
