{% extends 'base.html.twig' %}

{% block title %}{{ 'main.title'|trans }}{% endblock %}

{% block body %}
    {% include 'default/_flash_messages.html.twig' %}
    <div class="containter-fluid">
        <img src="{{ asset('img/breakfast1.jpg') }}" alt="main_photo" height="auto" width="100%">
    </div>
    <div class="searching">
        {#<form method="post" class="form-inline my-2 my-lg-0" action="{{ url('search_index') }}">#}
            {#<input type="search" class="form-control" name="search" autocomplete="off" placeholder="{{ 'ingredients.search'|trans }}">#}
        {#</form>#}
    </div>
    <div class="containter last_recipe">
        <p class="headline">{{ 'last_recipe_headline'|trans }}</p>
        <div class="row">
            {% for item in newestRecipe %}
                <div class="col-md-3">
                    <a href="{{ url('recipe_view', {'id': item.id}) }}" title="{{ 'label.view'|trans }}">
                        <div class="photo_border">
                            <img src="{{ asset('uploads/photos/'~item.photo) }}" alt="recipe_photo">
                            <div class="icons">
                                <i class="fas fa-clock"></i>
                                <div class="icon">{{ item.time }}</div>
                                <i class="fas fa-user"></i>
                                <div class="icon">{{ item.peopleAmount }}</div>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    {% if is_granted('ROLE_ADMIN') or item.author.id == app.user.id %}
                                        <a class="edit" href="{{ url('recipe_edit', {'id': item.id}) }}" title="{{ 'action.edit'|trans }}">
                                            <i class="fas fa-cog"></i>
                                        </a>
                                        <a class="delete" href="{{ url('recipe_delete', {'id': item.id}) }}" title="{{ 'action.delete'|trans }}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <p class="caption">{{ item.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <p>{{ 'footer.text'|trans }}</p>
    </footer>
{% endblock %}
