{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_view'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}

    {% include 'default/_flash_messages.html.twig' %}

    <div class="section_title">
        <h1>{{ 'title.user_view'|trans }} {{ user.firstName }}</h1>
    </div>
    {% if user is defined and user|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.createdAt'|trans }}</th>
                <th>{{ 'label.updatedAt'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.firstName'|trans }}</th>
                <th>{{ 'label.roles'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                 <tr>
                     <td>{{ user.id }}</td>
                     <td>{{ user.createdAt|localizeddate }}</td>
                     <td>{{ user.updatedAt|localizeddate }}</td>
                     <td>{{ user.email }}</td>
                     <td>{{ user.firstName }}</td>
                     <td>
                         {% if user.roles.1 is defined %}
                             {{ 'label.admin'|trans }}
                         {% else %}
                             {{ 'label.user'|trans }}
                         {% endif %}
                     </td>
                     <td>
                         <a href="{{ url('user_editData', {id: user.id}) }}" title="{{ 'action.editData'|trans }}">
                             {{ 'action.editData'|trans }}
                         </a>
                     </td>
                     <td>
                         <a href="{{ url('user_editPassword', {id: user.id}) }}" title="{{ 'action.editPassword'|trans }}">
                             {{ 'action.editPassword'|trans }}
                         </a>
                     </td>
                     <td>
                         <a href="{{ url('user_editRole', {id: user.id}) }}" title="{{ 'action.editRole'|trans }}">
                             {{ 'action.editRole'|trans }}
                         </a>
                     </td>
                </tr>
            </tbody>
        </table>
        {% if usersRecipes is defined and usersRecipes|length %}
            <p class="headline">{{ 'usersRecipes'|trans }}</p>
            <div class="row">
                {% for recipe in usersRecipes  %}
                    <div class="col-md-3">
                        <a href="{{ url('recipe_view', {'id': recipe.id}) }}" title="{{ 'label.view'|trans }}">
                            <div class="photo_border">
                                <img src="{{ asset('uploads/photos/'~recipe.photo) }}" alt="recipe_photo">
                                <div class="icons">
                                    <i class="fas fa-clock"></i>
                                    <div class="icon">{{ recipe.time }}</div>
                                    <i class="fas fa-user"></i>
                                    <div class="icon">{{ recipe.peopleAmount }}</div>
                                </div>
                            </div>
                            <p class="caption">{{ recipe.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="navigation text-center">
            {{ knp_pagination_render(usersRecipes) }}
        </div>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
    <div class="form-group row float-sm-left">
        <a href="{{ url('user_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}