{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_view'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="section_title">
        <h1>{{ 'recipe_with_tag'|trans }}{{  tag.title }}</h1>
    </div>
    {% if tag is defined and tag|length %}
        {% if pagination is defined and pagination|length %}

            <div class="row">
                {% for recipe in pagination %}
                    <div class="col-md-3">
                        <a href="{{ url('recipe_view', {'id': recipe.id}) }}" title="{{ 'label.view'|trans }}">
                            <div class="photo_border">
                                <img src="{{ asset('uploads/photos/'~recipe.photo) }}" alt="recipe_photo">
                                <div class="icons">
                                    <i class="fas fa-clock"></i>
                                    <div class="icon">{{ recipe.time }}</div>
                                    <i class="fas fa-user"></i>
                                    <div class="icon">{{ recipe.people_amount }}</div>
                                </div>
                            </div>
                            <p class="caption">{{ recipe.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {{ 'message.item_not_found'|trans }}
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
    <div class="form-group row float-sm-left">
        <a href="{{ url('main_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endblock %}