{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_view'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_view'|trans({'%id%': tag.id|default('')}) }}</h1>
    {% if tag is defined and tag|length %}
        {% if pagination is defined and pagination|length %}

            <div class="title">
                <p>{{ 'recipe_with_tag'|trans }}{{  tag.title }}</p>
            </div>
            <div class="row">
                {% for video in pagination %}
                    <div class="col-md-3">
                        <a href="{{ url('recipe_view', {'id': video.id}) }}" title="{{ 'label.view'|trans }}">
                            <div class="photo_border">
                                <img src="{{ asset('img/recipe1.jpg') }}" alt="recipe_photo">
                                <div class="icons">
                                    <i class="fas fa-clock"></i>
                                    <div class="icon">{{ video.time }}</div>
                                    <i class="fas fa-user"></i>
                                    <div class="icon">{{ video.people_amount }}</div>
                                </div>
                            </div>
                            <p class="caption">{{ video.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>
                {{ 'message.item_not_found'|trans }}
            </p>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}