{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_edit'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="section_title">
        <h1>{{ 'title.recipe_edit'|trans }}</h1>
    </div>
    {{ form_start(form, { method: 'PUT', action: url('recipe_edit', {id: recipe.id}) }) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.time) }}
    {{ form_row(form.peopleAmount) }}
    {{ form_row(form.photo) }}

    <h3>Ingredient</h3>
    <ul class="ingredients" data-prototype="{{ form_widget(form.ingredient.vars.prototype)|e('html_attr') }}">
        {% for ingredient_1 in form.ingredient %}
            <li>{{ form_row(ingredient_1.name) }}</li>
        {% endfor %}
    </ul>

    {{ form_row(form.tags) }}

    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="button" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('recipe_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}