{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_list'|trans }}
{% endblock %}

{% block body %}
    {% if pagination is defined and pagination|length %}

        <div class="containter index_recipe">
            <div class="col-md-9 last_recipe">
                <div class="row">
                    {% for item in pagination %}
                        <div class="col-md-4">
                            <a href="{{ url('recipe_view', {'id': item.id}) }}" title="{{ 'label.view'|trans }}">
                                <div class="photo_border">
                                    <img src="{{ asset('img/muffiny.png') }}" alt="recipe_photo">
                                    <div class="icons">
                                        <i class="fas fa-clock"></i>
                                        <div class="icon">{{ item.time }}</div>
                                        <i class="fas fa-user"></i>
                                        <div class="icon">{{ item.peopleAmount }}</div>
                                    </div>
                                </div>
                                <p class="caption">{{ item.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
            <div class="col-md-3 aside">
                <div class="row">
                    <div class="add_recipe"><p>
                        <a href="{{ url('recipe_new') }}" title="{{ 'action.add'|trans }}">
                            {{ 'action.add'|trans }}
                        </a></p>
                    </div>
                    <div class="popular_tags">
                        <p>{{ 'popular.tag'|trans }}</p>
                        {% for tag in mostPopularTag %}
                            <div class="tag">
                                <a href="{{ url('tag_view', {id: tag.id}) }}" title=" {{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>









    {#<table class="table table-striped">#}
            {#<thead>#}
            {#<tr>#}
                {#<th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'r.id') }}</th>#}
                {#<th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'r.createdAt') }}</th>#}
                {#<th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'r.updatedAt') }}</th>#}
                {#<th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'r.title') }}</th>#}
                {#<th>{{ 'label.photo'|trans }}</th>#}
                {#<th>{{ 'label.time'|trans }}</th>#}
                {#<th>{{ 'label.peopleAmount'|trans }}</th>#}
                {#<th>{{ 'label.actions'|trans }}</th>#}
            {#</tr>#}
            {#</thead>#}
            {#<tbody>#}
            {#<a href="{{ url('recipe_new') }}" title="{{ 'action.add'|trans }}">#}
                {#{{ 'action.add'|trans }}#}
            {#</a>#}
            {#{% for recipe in pagination %}#}
                {#<tr>#}
                    {#<td>{{ recipe.id }}</td>#}
                    {#<td>{{ recipe.createdAt|localizeddate }}</td>#}
                    {#<td>{{ recipe.updatedAt|localizeddate }}</td>#}
                    {#<td>{{ recipe.title }}</td>#}
                    {#<td>{{ recipe.description }}</td>#}
                    {#<td>{{ recipe.photo }}</td>#}
                    {#<td>{{ recipe.time }}</td>#}
                    {#<td>{{ recipe.peopleAmount }}</td>#}
                    {#<td>#}
                        {#<a href="{{ url('recipe_view', {id: recipe.id}) }}" title="{{ 'action.view'|trans }}">#}
                            {#{{ 'action.view'|trans }}#}
                        {#</a>#}
                        {#<a href="{{ url('recipe_edit', {id: recipe.id}) }}" title="{{ 'action.edit'|trans }}">#}
                            {#{{ 'action.edit'|trans }}#}
                        {#</a>#}
                        {#<a href="{{ url('recipe_delete', {id: recipe.id}) }}" title="{{ 'action.delete'|trans }}">#}
                            {#{{ 'action.delete'|trans }}#}
                        {#</a>#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}
            {#</tbody>#}
        {#</table>#}

    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    <footer>
        <p>{{ 'footer.text'|trans }}</p>
    </footer>

{% endblock %}