{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_list'|trans }}
{% endblock %}

{% block body %}
    {% include 'default/_flash_messages.html.twig' %}
    {% if pagination is defined and pagination|length %}

        <div class="containter index_recipe">
            <div class="col-md-9 last_recipe">
                <div class="row">
                    {% for item in pagination %}
                        <div class="col-md-4">
                            <a href="{{ url('recipe_view', {'id': item.id}) }}" title="{{ 'label.view'|trans }}">
                                <div class="photo_border">
                                    <div class="image">
                                        <img src="{{ asset('uploads/photos/'~item.photo) }}" alt="recipe_photo">
                                        <div class="icons">
                                            <i class="fas fa-clock"></i>
                                            <div class="icon">{{ item.time }}</div>
                                            <i class="fas fa-user"></i>
                                            <div class="icon">{{ item.peopleAmount }}</div>
                                        </div>
                                        {#{% if is_granted('ROLE_ADMIN')%}#}
                                            {#<div class="icons_edit">#}
                                                {#<a class="icon cog" href="{{ url('recipe_edit', {'id': item.id}) }}" title="{{ 'edit'|trans }}">#}
                                                    {#<i class="fas fa-cog"></i>#}
                                                {#</a>#}
                                                {#<a class="icon trash" href="{{ url('recipe_delete', {'id': item.id}) }}" title="{{ 'delete'|trans }}">#}
                                                    {#<i class="fas fa-trash-alt"></i>#}
                                                {#</a>#}
                                            {#</div>#}
                                        {#{% endif %}#}
                                    </div>
                                </div>
                                <p class="caption">{{ item.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="navigation text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>

            </div>
            <div class="col-md-3 aside">
                <div class="row">
                    <div class="add_recipe"><p>
                        <a href="{{ url('recipe_new') }}" title="{{ 'action.add'|trans }}">
                            {{ 'action.add'|trans }}
                        </a></p>
                    </div>
                    <div class="popular_tags">
                        <p>{{ 'popular.tag'|trans }}</p>
                        {% for tag in mostPopularTag %}
                            <div class="tag">
                                <a href="{{ url('tag_view', {id: tag.id}) }}" title=" {{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    <footer>
        <p>{{ 'footer.text'|trans }}</p>
    </footer>

{% endblock %}