{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_view'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    {#<div class="section_title">#}
        {#<h1>{{ 'title.recipe_view'|trans({'%id%': recipe.id|default('')}) }}</h1>#}
    {#</div>#}
    {% if recipe is defined and recipe|length %}
        <div class="col-md-12">
            <div class="col-md-6 photo_recipe">
                <img src="{{ asset('img/ciasto.png') }}" alt="recipe_photo">
            </div>
            <div class="col-md-6 data_recipe">
                <div class="recipe_list">
                    <p class="recipe_name">{{  recipe.title }}</p>
                    <div class="icon_recipe">
                        <i class="fas fa-clock"></i>
                        <div class="icon">{{ recipe.time }}</div>
                        <i class="fas fa-user"></i>
                        <div class="icon">{{ recipe.peopleAmount }}</div>
                    </div>
                    <div class="ingredients_list">
                        <p>{{ 'ingredient'|trans }}</p>
                        {% for ingredient in recipe.ingredients %}
                            <i class="fas fa-circle"></i><div>{{  ingredient.name }}</div>
                        {% endfor %}
                    </div>
                    <div class="recipe_description">
                        <p>{{ 'label.description'|trans }}</p>
                        <div>
                            {{  recipe.description }}
                        </div>
                    </div>
                    <div class="recipe_tags">
                        <p>{{ 'label.tags'|trans }}</p>
                        {% for tag in recipe.tags %}
                            <div class="tag">
                                <a href="{{ url('tag_view', {id: tag.id}) }}" title=" {{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>




        {#<dl>#}
            {#<dt>{{ 'label.tags'|trans }}</dt>#}
            {#{% for tag in recipe.tags %}#}
                {#<dd>{{  tag.title }}</dd>#}
            {#{% endfor %}#}

        {#</dl>#}
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    {#<div class="form-group row float-sm-left">#}
        {#<a href="{{ url('recipe_index') }}" class="btn btn-link">#}
            {#{{ 'action.back_to_list'|trans }}#}
        {#</a>#}
    {#</div>#}
{% endblock %}