{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block body %}
    {% if recipe is defined and recipe|length %}
        <div class="col-md-12">
            <div class="col-md-6 photo_recipe">
                <img src="{{ asset('uploads/photos/'~recipe.photo) }}" alt="recipe_photo">
            </div>
            <div class="col-md-6 data_recipe">
                {% include 'default/_flash_messages.html.twig' %}
                <div class="recipe_list">
                    <p class="recipe_name">{{  recipe.title }}</p>
                    <div class="icon_recipe">
                        <i class="fas fa-clock"></i>
                        <div class="icon">{{ recipe.time }}</div>
                        <i class="fas fa-user"></i>
                        <div class="icon">{{ recipe.peopleAmount }}</div>
                    </div>
                    <div class="recipe_author">
                        <p>{{ 'author.label'|trans }}{{ recipe.author.login }}</p>
                    </div>
                    <div class="ingredients_list">
                        <p>{{ 'ingredient'|trans }}</p>
                        {% for ingredient in ingredients %}
                            <i class="fas fa-circle"></i><div>{{  ingredient.name }}</div>
                        {% endfor %}
                    </div>
                    <div class="recipe_description">
                        <p>{{ 'label.description'|trans }}</p>
                        <div>
                            {{  recipe.description }}
                        </div>
                    </div>
                    <div class="recipe_tags">
                        <p>{{ 'label.tags'|trans }}</p>
                        {% for tag in recipe.tags %}
                            <div class="tag">
                                <a href="{{ url('tag_view', {id: tag.id}) }}" title=" {{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="comments">
                        <p>{{ 'label.comments'|trans }}</p>
                        <div class="add_comment">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% if recipe|length %}
                                    {{ form_start(form_comment, { method: 'post', action: url('recipe_view', {'id':id}) }) }}
                                    {{ form_widget(form_comment.text, { 'value': '' }) }}
                                    <input type="submit" value="{{ 'action.save'|trans }}" class="button"/>
                                    {{ form_end(form_comment) }}
                                {% endif %}
                            {% else %}
                                <p id="log_to_comment">{{ 'log_to_add_comment'|trans }}</p>
                            {% endif %}
                            {% for comment in recipesComments %}
                                <div class="row comment">
                                    <div class="col-md-4 comment_author">
                                        <div class="login">
                                            {{ comment.author.login }}
                                        </div>
                                        <div class="date">
                                            {{ comment.createdAt|localizeddate }}
                                        </div>
                                    </div>
                                    <div class="col-md-7 text">
                                        {{ comment.text }}
                                    </div>
                                    <div class="col-md-1 link">
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                            {% if is_granted('ROLE_ADMIN') or comment.author.id == app.user.id %}
                                                <a class="edit" href="{{ url('comment_edit', {'id': comment.id, 'recipeId':recipe.id}) }}" title="{{ 'action.edit'|trans }}">
                                                    {{ 'action.edit'|trans }}
                                                </a>
                                                <a class="edit" href="{{ url('comment_delete', {'id': comment.id, 'recipeId': recipe.id}) }}" title="{{ 'action.delete'|trans }}">
                                                    {{ 'action.delete'|trans }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
                <div class="form-group row float-sm-left">
                    <a href="{{ url('recipe_index') }}" class="btn btn-link">
                        {{ 'action.back_to_list'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    {#<div class="form-group row float-sm-left">#}
        {#<a href="{{ url('recipe_index') }}" class="btn btn-link">#}
            {#{{ 'action.back_to_list'|trans }}#}
        {#</a>#}
    {#</div>#}
{% endblock %}