{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_view'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    {#<div class="section_title">#}
        {#<h1>{{ 'title.recipe_view'|trans({'%id%': recipe.id|default('')}) }}</h1>#}
    {#</div>#}
    {% if recipe is defined and recipe|length %}
        <div class="col-md-12">
            <div class="col-md-6 photo_recipe">
                <img src="{{ asset('img/ciasto.png') }}" alt="recipe_photo">
            </div>
            <div class="col-md-6 data_recipe">
                <div class="recipe_list">
                    <p class="recipe_name">{{  recipe.title }}</p>
                    <div class="icon_recipe">
                        <i class="fas fa-clock"></i>
                        <div class="icon">{{ recipe.time }}</div>
                        <i class="fas fa-user"></i>
                        <div class="icon">{{ recipe.peopleAmount }}</div>
                    </div>
                    <div class="ingredients_list">
                        <p>{{ 'ingredient'|trans }}</p>
                        {% for ingredient in recipe.ingredients %}
                            <i class="fas fa-circle"></i><div>{{  ingredient.name }}</div>
                        {% endfor %}
                    </div>
                    <div class="recipe_description">
                        <p>{{ 'label.description'|trans }}</p>
                        <div>
                            {{  recipe.description }}
                        </div>
                    </div>
                    <div class="recipe_tags">
                        <p>{{ 'label.tags'|trans }}</p>
                        {% for tag in recipe.tags %}
                            <div class="tag">
                                <a href="{{ url('tag_view', {id: tag.id}) }}" title=" {{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="comments">
                        <p>{{ 'label.comments'|trans }}</p>
                        <div class="add_comment">
                            {% if recipe|length %}
                                {{ form_start(form_comment, { method: 'post', action: url('recipe_view', {'id':id}) }) }}
                                {{ form_widget(form_comment.text, { 'value': '' }) }}
                                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success"/>
                                {{ form_end(form_comment) }}
                            {% endif %}
                            {% for comment in recipesComments %}
                                <div class="row comment">
                                    <div class="col-md-3 login">
                                        {#<div class="login2">#}
                                            {#{{ comment.login }}#}
                                        {#</div>#}
                                        <div class="date">
                                            {{ comment.createdAt|localizeddate }}
                                        </div>
                                    </div>
                                    <div class="col-md-8 text">
                                        {{ comment.text }}
                                    </div>
                                    <div class="col-md-1 link">
                                            {#{% if is_granted('IS_AUTHENTICATED_FULLY') and user_id==line.users_id or is_granted('ROLE_ADMIN')%}#}
                                                {#<a class="edit" href="{{ url('comment_delete', {'id': line.id, 'videoId': line.video_id}) }}" title="{{ 'delete'|trans }}">#}
                                                    {#{{ 'delete'|trans }}#}
                                                {#</a>#}
                                                {#<a class="edit" href="{{ url('comment_edit', {'id': line.id, 'videoId': line.video_id}) }}" title="{{ 'edit'|trans }}">#}
                                                    {#{{ 'edit'|trans }}#}
                                                {#</a>#}
                                            {#{% endif %}#}
                                    </div>
                                </div>
                            {% endfor %}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>




        {#<dl>#}
            {#<dt>{{ 'label.tags'|trans }}</dt>#}
            {#{% for tag in recipe.tags %}#}
                {#<dd>{{  tag.title }}</dd>#}
            {#{% endfor %}#}

        {#</dl>#}
    {% else %}
        {% include 'default/_single_flash_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
    {#<div class="form-group row float-sm-left">#}
        {#<a href="{{ url('recipe_index') }}" class="btn btn-link">#}
            {#{{ 'action.back_to_list'|trans }}#}
        {#</a>#}
    {#</div>#}
{% endblock %}