{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.measure_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.measure_list'|trans }}</h1>
    {% if measures is defined and measures|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.title'|trans }}</th>
                {#<th>{{ 'label.amount'|trans }}</th>#}
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <a href="{{ url('measure_new') }}" title="{{ 'action.add'|trans }}">
                {{ 'action.add'|trans }}
            </a>
            {% for measure in measures %}
                <tr>
                    <td>{{ measure.id }}</td>
                    <td>{{ measure.title }}</td>
                    {#<td>{{ measure.amount }}</td>#}
                    <td>
                        <a href="{{ url('measure_view', {id: measure.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                        <a href="{{ url('measure_edit', {id: measure.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ url('measure_delete', {id: measure.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(measures) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}