{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.measure_view'|trans({'%id%': measure.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.measure_view'|trans({'%id%': measure.id|default('')}) }}</h1>
    {% if measure is defined and measure|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ measure.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  measure.title }}</dd>
            {#<dt>{{ 'label.name'|amount }}</dt>#}
            {#<dd>{{  measure.amount }}</dd>#}
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}